**/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

###IntelliJ IDEA###
.idea
*.iws
*.iml
*.ipr
*.cmd
mvnw
**.mvn/

### Net Beans###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.logs
/spark-cluster/docker/base/spark-3.5.1-bin-hadoop3-scala2.13.tgz
/out/
/optimization/src/META-INF/
/optimization/src/main/scala/META-INF/
/example-data/rtjvm/exam_data/
/example-data/rtjvm/lipsum/
